<!doctype html>
<html>
<head>
  <title>Game!</title>
</head>
<body>

<form action="/madlib">
  Insert a name. <input type="text" name="person"><br>
  Select a color. <br><input type="radio" id="blue" name="color" value="Blue">
  <label for="blue">Blue</label><br>
  <input type="radio" id="red" name="color" value="Red">
  <label for="red">Red</label><br>
  <input type="radio" id="yellow" name="color" value="Yellow">
  <label for="yellow">Yellow</label><br>
  <input type="radio" id="green" name="color" value="Green">
  <label for="green">Green</label><br>
  <input type="radio" id="orange" name="color" value="Orange">
  <label for="orange">Orange</label><br>
  <input type="radio" id="purple" name="color" value="Purple">
  <label for="purple">Purple</label><br>
  <input type="radio" id="white" name="color" value="White">
  <label for="white">White</label><br>
  <input type="radio" id="black" name="color" value="Black">
  <label for="black">Black</label><br>
  Insert a noun. <select name="noun" id="noun">
    <option value="Cat">Cat</option>
    <option value="Mouse">Mouse</option>
    <option value="Keyboard">Keyboard</option>
    <option value="Mug">Mug</option>
  </select><br>
  Insert a adjective. <select name="adjective" id="adjective">
    <option value="Calm">Calm</option>
    <option value="Hot">Hot</option>
    <option value="Cold">Cold</option>
    <option value="Intense">Intense</option>
  </select><br>
  <input type="submit">
</form>

</body>
</html>
